######################
# Project Specific
######################

bower_components/

######################
# Node
######################
node_modules/
package-lock.json
*.js
*.map

######################
# SASS
######################
.sass-cache/


*.tmp
*.bak
*.swp

######################
# Windows
######################
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

######################
# Mac OSX
######################
.DS_Store

# Thumbnails
._*

######################
# Logs
######################
*.log

######################
# Others
######################
*.*~
*~

/.idea/
/.vscode/

# ignoro le sottocartelle con le prove degli studenti
studenti/

# Ignoro i sorgenti Keynote
*.key

# Ignoro le cartelle obsolete o che ancora devo pubblicare
/0x_react/
/01_javascript/
/02_angularjs/
/03_typescript/
/04_angular/
/05_ionic/
/esercizi/
/img/
/linguaggi-scripting/
/live/
/sviluppo-applicazioni/
/verifiche/
